.ps-btn, button.ps-btn {
  background-color: #5FB709;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.ps-btn:hover, button.ps-btn:hover {
  background-color: #1BB146;
}

.menu--autopart > li > a {
  text-transform: uppercase;
  font-weight: 600;
}

.header--autopart .ps-form--quick-search button {
  background-color: #5DB908;
  color: #ffffff;
}

.header--autopart .ps-form--quick-search button:hover {
  cursor: pointer;
}

.header--autopart .menu--product-categories .menu__toggle span {
  display: none;
}

.header--autopart .menu--product-categories .menu__content {
  left: auto;
  right: -10px;
  padding-top: 0;
}

.header--autopart .menu--product-categories .menu__content:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -7px;
  right: 30px;
  width: 16px;
  height: 16px;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.header--autopart .menu--product-categories .menu--dropdown > li:hover {
  background-color: #fff;
}

.header--autopart .menu--product-categories .menu--dropdown > li:hover a {
  color: #5DB908;
}

.header--autopart .menu--product-categories:hover .menu__content {
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}

.header--autopart .header__extra span {
  background-color: #5DB908;
}

.header--autopart .header__extra span i {
  color: #ffffff;
}

.header--autopart .header__extra:hover > i {
  color: #5DB908;
}

.header--autopart .header__extra:hover span {
  color: #5DB908;
}
.header--autopart .menu > li{
  padding-left: 0px!important;
  padding-right: 0px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
  float: left !important;
}
.header--autopart .menu > li > a {
  padding: 15px 20px;
  font-weight: 600;
  color: #fff;
background: -moz-linear-gradient(top, rgba(102,194,11,1) 0%, rgba(66,128,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,194,11,1)), color-stop(100%, rgba(66,128,4,1)));
background: -webkit-linear-gradient(top, rgba(102,194,11,1) 0%, rgba(66,128,4,1) 100%);
background: -o-linear-gradient(top, rgba(102,194,11,1) 0%, rgba(66,128,4,1) 100%);
background: -ms-linear-gradient(top, rgba(102,194,11,1) 0%, rgba(66,128,4,1) 100%);
background: linear-gradient(to bottom, rgba(102,194,11,1) 0%, rgba(66,128,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c20b', endColorstr='#428004', GradientType=0 );
  text-transform: uppercase;
  display: block;
    text-align: center;
}
/* HOME */
.header--autopart .menu > li:nth-child(1) > a {
  border-radius: 10px 0 0 10px;
  margin-top: 20px;
  width: 125px;
}

/* CATEGORY */
.header--autopart .menu > li:nth-child(2) > a {
  width: 125px;
  margin-top: 20px;
}

/* LOGO */
.header--autopart .menu > li:nth-child(3) > a {
  background: #F7F6F5;
  border-radius: 15px 15px 15px 15px;
  height: 80px;
  -webkit-box-shadow: 4px 7px 10px -5px rgba(125,125,125,1);
  -moz-box-shadow: 4px 7px 10px -5px rgba(125,125,125,1);
  box-shadow: 4px 7px 10px -5px rgba(125,125,125,1);
  width: 255px;
  padding-top: 28px;
}
.header--autopart .menu > li:nth-child(3) > a:hover {
  background: #eee;
}

/* BLOG */
.header--autopart .menu > li:nth-child(4) > a {
  margin-top: 20px;
  width: 125px;
}

/* CART */
.header--autopart .menu > li:nth-child(5) > a {
  border-radius: 0 10px 10px 0;
  margin-top: 20px;
  width: 125px;
}


/* .header--autopart .menu > li > a:hover {
  background: #238000;
} */

/* ul {
  margin-block-start: 0em!important;
  margin-block-end: 0em!important;
  padding-inline-start: 0px !important;
  overflow: hidden !important;
} */

/* .header--autopart .menu > li::nth-child(2)  > a {
  background: transparent!important;
} */

/* PLACE A NEW ORDER */
.place-new-order{
  width: 30%;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/* PROMOTION */

/* .shadow-back-one{
  padding-left: 15px;
}

.shadow-back-two{
  padding-right: 15px;
} */

.shadow-back-one,
.shadow-back-two{
  width: 100% !important;
}

/* CATEGORY */

.ps-section-all{
  position: relative;
  /* float: left;
  width: 100%;
  height: 100%; */
}

.ps-section-all:before {
  box-shadow: -15px 0 15px -15px inset;
  content: " ";
  height: 100%;
  left: -15px;
  position: absolute;
  top: 0;
  width: 15px;
}
.ps-section-all:after {
  box-shadow: 15px 0 15px -15px inset;
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  right: -15px;
  width: 15px;
}
.ps-section-all {
  background: none repeat scroll 0 0 #fff;
  z-index: 9;
}


/* SECTION */

.ps-section__header {
  padding-top: 4%;
}

.ps-section__header h3 {
color: #5DB908;
text-align: center;
font-size: 28px;
text-transform: uppercase;
margin-bottom: 30px;
}

.ps-section__content{
  padding-left: 10%;
  padding-right: 10%;
}

.ps-section__content p {
  color: #000;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}

.ps-block__thumbnail{
  width: 100%;
  height: auto;
}

.ps-block__content{
  width: 100%;
  height: auto;
  background: #F7F6F5;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
  
}

li.stars i{
  color: #FE9E00;
}

li.more{
  position: relative;
  width: 100%;
  height: auto;
  background: orchid;
  margin-top: 10px;
}
/* li.more .fav-in,
li.more .cart-in{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
} */

li.more a{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.cart-in{
  background: #5DB908;
}

.cart-in i{
  color: #fff;
}

.fav-in{
  background: #eee;
}

.fav-in i{
  color: #5DB908;
}

/* LOAD MORE */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content {
  height: auto;
  width: 22.5%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: none;
  /* border: 0.2px solid #eee; */
}
#loadMore {
  width: 300px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 12px 10px 12px 10px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #5FB709;
  transition: .3s;
}
#loadMore:hover {
  color: #1BB146;
  background-color: #fff;
  border: 1px solid #1BB146;
  text-decoration: none;
}
.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}

.bottom-spacing{
  margin-bottom: 50px;
}

.green-back{
  width: 42%;
  height: auto;
  position: relative;
  float: left;
  background: orange;
}

.green-back svg{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobileImg-back{
  width: 58%;
  height: auto;
  position: relative;
  float: right;
  background: peru;
}


.mobileImg-back img{
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* TEST */
* {
  box-sizing: border-box; /** padding and border are included in the width and height preventing some overflow cases (not all !) **/
}


.promoBanner__container {
  position: relative; /** add this so his children with absolute positionning are placed relative to it **/
  width: 100%;
}

.promoBanner__image {
  /** removed absolute position **/
  height: 100%;
  width: 76.25%;
}

/** new rules for the image itself **/
.promoBanner__image > img {
  height: 100%;
  width: 100%;
}

.promoBanner__content {
  min-width: 400px;
  max-width: 50%; 
  /** change the above rules to your desired values. If no max-width is applyied, the element will have 100% of its parent's width **/
  position: absolute;
  right: 0; /** the right property is used to prevent overflowing and to position the banner content in the desired place without any hacky calculations **/
  /** next two rules are used to vertically align the banner content **/
  bottom: 0;  
  right: 0;
  transform: translate3d(0, 0, 0);
  overflow-y: hidden;
  z-index: 2; /** ensure it's on top **/
}

.promoBanner__text {
  min-width: 500px;
  max-width: 50%;
  /** change the above rules to your desired values. If no max-width is applyied, the element will have 100% of its parent's width **/
  position: absolute;
  left: 20%; /** the right property is used to prevent overflowing and to position the banner content in the desired place without any hacky calculations **/
  /** next two rules are used to vertically align the banner content **/
  bottom: 18%;  
  transform: translate3d(0, 0, 0);
  overflow-y: hidden;
  z-index: 2; /** ensure it's on top **/
  color: #fff;
}

.promoBanner__text span.adv{
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -2.5px;
}

.promoBanner__text span.advTag{
  color: #fff;
  font-size: 59px;
  margin-top: -30px;
  line-height: 50px;
}
/* END */

/* FOOTER */

/*---------------------------------------------*/
.widget_newletters input {
	outline: none;
	border: none;
}

.widget_newletters input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

.widget_newletters input[type="number"]::-webkit-outer-spin-button,
.widget_newletters input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.widget_newletters input::-webkit-input-placeholder { color: #fff;}
.widget_newletters input:-moz-placeholder { color: #fff;}
.widget_newletters input::-moz-placeholder { color: #fff;}
.widget_newletters input:-ms-input-placeholder { color: #fff;}


/*//////////////////////////////////////////////////////////////////
[ login ]*/


.widget_newletters .container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: relative;
  background-color: #004E22;
}

.widget_newletters .wrap-login100 {
  width: 320px;
  background: transparent;
  border-radius: 0px;
}


/*==================================================================
[ Form ]*/

.widget_newletters .login100-form {
  width: 100%;
  position: relative;
}

.widget_newletters .login100-form-title {
  font-family: "LatoRegular";
  font-size: 20px;
  color: #43383e;
  line-height: 0.8;
  text-align: center;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.widget_newletters .wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 31px;
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
}

.widget_newletters .input100 {
  font-family: "LatoRegular";
  font-size: 16px;
  color: #fff;
  line-height: 0.8;
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  background: #004E22;
  border-radius: 31px;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

/* .widget_newletters .focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #004E22;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.widget_newletters .input100:focus + .focus-input100 {
  width: calc(100% + 20px);
} */


/* END FOOTER */


/* CATEGORY IMAGE */

/* .owl-slider{
  z-index: 99;
} */

/* .row .category-margin:hover .featured-one{
  z-index: 99!important;
}  */

.category-margin{
 /* margin-top: -50px; */
 margin-bottom: 30px;
}
.category-featured{
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 21px 22px 14px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 21px 22px 14px -19px rgba(0,0,0,0.75);
box-shadow: 21px 22px 14px -19px rgba(0,0,0,0.75);
margin-bottom: 20px;
margin-top: -50px;
}

.featured-one{
  background: #FFE823;
}

.featured-one .category-description h4{
  color: #FF0201;
}

.featured-one .category-description p{
  color: #000;
}

.featured-one .category-description span{
  color: #FF0201;
}

.featured-two{
  background: #373A06;
}

.featured-two .category-description h4{
  color: #FFE823;
}

.featured-two .category-description p{
  color: #fff;
}
.featured-two .category-description span{
  color: #FFE823;
}

.featured-three{
  background: #881A0F;
}

.featured-three .category-description h4{
  color: #FFE823;
}

.featured-three .category-description p{
  color: #fff;
}
.featured-three .category-description span{
  color: #FFE823;
}

.featured-four{
  background: #601822;
}

.featured-four .category-description h4{
  color: #FFE823;
}

.featured-four .category-description p{
  color: #fff;
}
.featured-four .category-description span{
  color: #FFE823;
}

.category-img{
width: 40%;
position: relative;
float: left;
}

.category-description{
  width: 60%;
  position: relative;
  float: left;
  padding-top: 10px;
  padding-right: 5px;
}

.category-description h4{
  text-transform: uppercase;
  font-weight: 700;
}

/* .category-description p{
  line-height: 1.2;
} */

.category-description span{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  text-align: right;
  float: right;
}

/* START PRODUCT SLIDER */

.test-ride p {
  min-height: 120px;
}

.test-ride .input-group {
  justify-content: flex-end;
  margin-bottom: .5em !important;
}

.test-ride .btn {
  border-radius: 0;
  margin-right: .5em;
  color: #fff !important;
  width: 100px;
  background: #5FB709;
  width: 50px;
  height: auto;
}

.test-ride .nav-tabs,
.test-ride .tab-content {
  max-width: 100%;
}
.test-ride .nav-tabs li.nav-item{
  background: #5FB709;
}

.test-ride .nav-tabs .nav-item a {
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 18px;
}
.test-ride .nav-tabs .nav-item a:hover {
  color: #fff !important;
}

.test-ride .nav-tabs .nav-item .active {
  border-radius: 0;
  background-color: #76E906;
  border: none;
}

.test-ride .nav-tabs .nav-item .active a{
  color: #000;
  font-size: 18px;
}

.test-ride .tab-content .tab-pane {
  padding-top: 10px;
}

/* END PRODUCT SLIDER */



.form-group--icon {
  background: red !important;
}

.form-group--icon .ps-block__left i.icon-rocket {
  font-size: 24px !important;
}

.form-group--icon .ps-block__left i.icon-rocket:before {
  font-size: 24px !important;
}

.header--autopart .navigation {
  background-color: #fff;
  padding-bottom: 30px;
}

/* .place-new-order button i.icon-search{
  color: #fff!important;
} */

.header--autopart.header--sticky .menu--product-categories .menu__toggle span {
  display: block;
}

.header--autopart.header--sticky .menu--product-categories .menu__content:before {
  right: auto;
  left: 55px;
}

.header--autopart.header--sticky .menu--product-categories:hover .menu__content {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

.header--autopart.header--sticky .header__top {
  position: relative;
}

.header--autopart.header--sticky .header__content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  background-color: #ffffff;
}

@media (max-width: 1199px) {
  .header--autopart {
    display: none;
  }
}

.header--mobile.autopart {
  background-color: #fff;
}

.header--mobile.autopart .ps-cart--mini {
  text-align: left;
}

.ps-cart--mini span{
  color: #666;
}

.header--mobile.autopart .ps-search--mobile {
  background-color: #5DB908;
}

.header--mobile.autopart.header--sticky .navigation--mobile {
  background-color: #ffffff;
}

.navigation--list .navigation__item.active i, .navigation--list .navigation__item.active span, .navigation--list .navigation__item:focus i, .navigation--list .navigation__item:focus span, .navigation--list .navigation__item:active i, .navigation--list .navigation__item:active span, .navigation--list .navigation__item:hover i, .navigation--list .navigation__item:hover span {
  color: #5DB908;
}

.ps-panel--sidebar .ps-panel__header {
  background-color: #5DB908;
}

.ps-banner--autopart {
  position: relative;
}

.ps-banner--autopart span.items {
  margin-top: 15rem;
  margin-bottom: 20px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 20px;
  position: relative;
  display: block;
  text-align: center;
}

.ps-banner--autopart span.headings {
  margin-top: 20px;
  font-size: 50px;
  line-height: 38px;
  font-weight: 600;
  color: #fff;
  position: relative;
  display: block;
  text-align: center;
}

.ps-banner--autopart p {
  margin-bottom: 0;
  font-size: 16px;
  color: #666;
}

.ps-banner--autopart p strong {
  color: #000;
  font-weight: 500;
}

.ps-banner--autopart .ps-btn {
  margin-top: 20px;
  padding: 12px 24px;
}

.ps-banner--autopart .ps-banner__content {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 1680px) {
  .ps-banner--autopart h4 {
    margin-bottom: 10px;
  }
  .ps-banner--autopart h3 {
    font-size: 40px;
    line-height: 1.2em;
  }
}

@media (max-width: 1366px) {
  .ps-banner--autopart h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .ps-banner--autopart h3 {
    font-size: 40px;
  }
  .ps-banner--autopart h3 br {
    display: none;
  }
}

@media (max-width: 1199px) {
  .ps-banner--autopart {
    min-height: 400px;
  }
  .ps-banner--autopart img {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .ps-banner--autopart .ps-banner__content {
    padding: 0 30px;
  }
}

@media (max-width: 479px) {
  .ps-banner--autopart h3 {
    font-size: 24px;
  }
  .ps-banner--autopart p {
    font-size: 12px;
  }
}

#homepage-2 a:hover {
  color: #5DB908;
}

#homepage-2 .ps-block--category-auto-part:hover {
  border-color: #5DB908;
}

#homepage-2 .ps-block--deal-hot {
  border-color: #5DB908;
}

#homepage-2 .ps-deal-hot {
  padding: 50px 0;
}

#homepage-2 .ps-product .ps-product__actions li a:hover {
  background-color: #5DB908;
}

#homepage-2 .ps-product .ps-product__actions li a:hover i {
  color: #ffffff;
}

/* #homepage-2 .ps-home-promotions {
  padding-bottom: 50px;
} */

@media (max-width: 767px) {
  #homepage-2 .ps-home-promotions {
    padding-bottom: 30px;
  }
}

@media (max-width: 479px) {
  #homepage-2 .ps-home-promotions {
    padding-bottom: 20px;
  }
}

#homepage-2 .ps-block--testimonial .ps-block__content i {
  color: #5DB908;
}

#homepage-2 .ps-block--site-features i {
  color: #5DB908;
}

#homepage-2 .ps-home-banner .owl-slider .owl-nav {
  left: 50%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#homepage-2 .ps-home-banner .owl-slider .owl-nav > * {
  width: 48px;
  height: 48px;
}

#homepage-2 .ps-site-features {
  border-top: 1px solid #e1e1e1;
}

#homepage-2 .ps-site-features .ps-block--site-features {
  padding: 50px 0;
  border-bottom: 1px solid #e1e1e1;
}

/* #homepage-2 .ps-top-categories {
  padding: 70px 0 50px;
} */

@media (max-width: 767px) {
  #homepage-2 .ps-top-categories {
    padding: 50px 0 30px;
  }
}

@media (max-width: 479px) {
  #homepage-2 .ps-top-categories {
    padding: 50px 0 30px;
  }
}
